<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <menuitem id="menu_mappings"
                  name="Mappings"
                  parent="menu_sale_integration"
                  sequence="50"/>

        <menuitem id="menu_attributes_mapping"
                  name="Attributes"
                  parent="menu_mappings"
                  action="integration_product_attribute_mapping_action"
                  sequence="10"/>

        <menuitem id="menu_attribute_values_mapping"
                  name="Attribute Values"
                  parent="menu_mappings"
                  action="integration_product_attribute_value_mapping_action"
                  sequence="20"/>

        <menuitem id="menu_categories_mapping"
                  name="Categories"
                  parent="menu_mappings"
                  action="integration_product_public_category_mapping_action"
                  sequence="30"/>

        <menuitem id="menu_contacts_mapping"
                  name="Contacts"
                  parent="menu_mappings"
                  action="integration_res_partner_mapping_action"
                  sequence="40"/>

        <menuitem id="menu_countries_mapping"
                  name="Countries"
                  parent="menu_mappings"
                  action="integration_res_country_mapping_action"
                  sequence="50"/>

        <menuitem id="menu_images_mapping"
                  name="Images"
                  parent="menu_mappings"
                  action="integration_product_image_mapping_action"
                  groups="base.group_no_one"
                  sequence="80"/>

        <menuitem id="menu_languages_mapping"
                  name="Languages"
                  parent="menu_mappings"
                  action="integration_res_lang_mapping_action"
                  sequence="90"/>

        <menuitem id="menu_orders_mapping"
                  name="Orders"
                  parent="menu_mappings"
                  action="integration_sale_order_mapping_action"
                  sequence="100"/>

        <menuitem id="menu_order_statuses_mapping"
                  name="Order Statuses"
                  parent="menu_mappings"
                  action="integration_sale_order_sub_status_mapping_action"
                  sequence="110"/>

        <menuitem id="menu_payment_methods_mapping"
                  name="Payment Methods"
                  parent="menu_mappings"
                  action="integration_sale_order_payment_method_mapping_action"
                  sequence="120"/>

        <menuitem id="menu_products_mapping"
                  name="Products"
                  parent="menu_mappings"
                  action="integration_product_template_mapping_action"
                  sequence="130"/>

        <menuitem id="menu_variants_mapping"
                  name="Product Variants"
                  parent="menu_mappings"
                  action="integration_product_product_mapping_action"
                  sequence="140"/>

        <menuitem id="menu_shipping_methods_mapping"
                  name="Shipping Methods"
                  parent="menu_mappings"
                  action="integration_delivery_carrier_mapping_action"
                  sequence="150"/>

        <menuitem id="menu_states_mapping"
                  name="States"
                  parent="menu_mappings"
                  action="integration_res_country_state_mapping_action"
                  sequence="160"/>

        <menuitem id="menu_taxes_mapping"
                  name="Taxes"
                  parent="menu_mappings"
                  action="integration_account_tax_mapping_action"
                  sequence="170"/>

        <menuitem id="menu_mappings_magento2_only"
                  name="Magento2 Only"
                  parent="menu_mappings"
                  sequence="400"/>

        <menuitem id="menu_mappings_prestashop_only"
                  name="Prestashop Only"
                  parent="menu_mappings"
                  sequence="410"/>

        <menuitem id="menu_mappings_shopify_only"
                  name="Shopify Only"
                  parent="menu_mappings"
                  sequence="420"/>

        <menuitem id="menu_mappings_woocommerce_only"
                  name="WooCommerce Only"
                  parent="menu_mappings"
                  sequence="430"/>

        <menuitem id="menu_mappings_baselinker_only"
                  name="Baselinker Only"
                  parent="menu_mappings"
                  sequence="440"/>

    </data>
</odoo>
